body {
                background-color: #fff; 
                margin:0 auto;
                }
            
    .container  {
                width:960px;
                height:800px;
                margin:0 auto;
                position:relative;
                background-color: #349345; 
                background-image:url(images/03337_bluemountains_2880x1800.jpg);
                background-repeat:no-repeat; 
                background-position:center top;
                }

    .container_2  {
                width:960px;
                height:800px;
                margin:0 auto;
                position:relative;
                background-color: #199999; 
                background-image:url(images/03337_bluemountains_2880x1800.jpg);
                background-repeat:no-repeat; 
                background-position:center top;
                }
                
     h1 {
                position:absolute;
                top:90px;
                left:350px;
        }


     h2 {
                position:absolute;
                top:90px;
                left:350px;
        }

    iframe{
                position:absolute;
                position: relative;
                top:2px;
                left:40px;
                } 